:host {
  .p-inputicon,
  ::ng-deep.p-icon {
    background-color: transparent;
  }

  ::ng-deep.p-button-label,
  ::ng-deep.p-togglebutton-label,
  ::ng-deep.p-select-option > span {
    background-color: transparent;
  }

  ::ng-deep.p-button-label {
    color: #212529;
  }

  ::ng-deep.p-inputnumber-input {
    width: 246px;
  }
}

.main {
  margin: 10px;
  justify-self: center;
  width: 100%;
}

.flex-main {
  display: flex;
  align-items: flex-start;
  margin: 10px;
  justify-self: center;
}

.logo {
  text-align: center;
  margin-bottom: 20px;
}

.search-type {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
}

.radio-div {
  display: flex;
  align-items: center;
  gap: 5px;

  label {
    cursor: pointer;
  }
}

.vertical-separator {
  height: 350px;
  margin-left: 20px;
  margin-right: 20px;
  opacity: 0.1;
}

.search-by-title {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.clearable-field {
  position: relative;
  display: flex;
  align-items: center;
}

.clearable-field input {
  padding-right: 30px;
}

.clear-btn {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  cursor: pointer;
}

.search-btns {
  display: flex;
  align-items: center;
  gap: 5px;
}

.second-col {
  min-width: 246px;
  width: 246px;
  max-width: 246px;
}

.scrollable-collection {
  max-height: 350px;
  min-height: 350px;
  height: 350px;
  min-width: 300px;
  max-width: 300px;
  width: 300px;

  overflow-y: auto;
}

.result-title {
  font-size: 12px;
  display: flex;
  align-items: flex-start;
  gap: 10px;
  cursor: pointer;
}

.title-id-title {
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.title-urls {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}
